@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps&display=swap');

// Font-Family Serif
$ff-s: 'Merriweather', serif;
// Font-Family Sans Serif
$ff-ss: 'Six Caps', sans-serif;

// Font-Weight

// normal
$fw-n:400;
// bold
$fw-b: 900;

// mixin
@mixin sans-serif 
($fs, $ls:.15em, $color: $dark-gray, $tt: uppercase, $lh:1) {
    color: $color;
    font-family: $ff-ss;
    font-size: $fs;
    font-weight: $fw-n;
    letter-spacing: $ls;
    line-height: $lh;
    text-transform: $tt;
} 